@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Noto+Sans+JP&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: #fdf3e6;
}

header,
.hero-section,
.books-section,
footer{
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

header{
    display: flex;
    align-items: center;
}

header-img{
    display: block;
    margin: 1rem auto;
}

header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav a{
    background-color: #f66d2d;
    border: 2px solid #0000;
    border-radius: 3px;
    box-shadow: 4px 4px 0 #0000;
    color: #fdf3e6;
    display: flex;
    font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}

.button{
    background-color: #f66d2d;
    border: 2px solid #0000;
    border-radius: 3px;
    box-shadow: 4px 4px 0 #0000;
    color: #fdf3e6;
    display: flex;
    font-size: 1.25rem;
    padding: .75rem 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 14rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    
}

.button-2{
    margin-left: 20px;
}

p{
    font-size: 1.25rem;
    margin-top: 10px;
}

body{
    background-color: #0e4159;
    padding: 1rem;
}

.text-primary{
    color: #f46523
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}














